/* ----------------- Sliders ----------------- */
.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    cursor: default;
    background: url(/static/img/handle-btn.png) no-repeat;
    border: none;
    cursor: pointer;
}

.ui-slider .ui-slider-handle:hover {
    background-position: 0 -16px;
}

.ui-slider .ui-slider-handle:active {
    background-position: 0 -32px;
}

.ui-slider .ui-slider-handle:focus {
    outline: none;
    border-color: transparent;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 6px;
    font-size: .7em;
    display: block;
}

.ui-slider-horizontal {
    height: 4px;
    clear: both;
    margin: 0 0 15px 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    height: 100px;
    width: 4px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -6px;
    margin-left: 0;
    margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 4px;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}

.multi-vs {
    margin-left: 20px;
}

.multi-vs span {
    height: 160px;
    float: left;
    margin: 10px 25px 0 0;
    display: block;
}

.slider-success {
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
}

.slider-danger {
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
}

.slider-info {
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
}

.slider-violet {
    background-color: blueviolet;
    *background-color: darkviolet;
    background-image: -moz-linear-gradient(top, blueviolet, darkviolet);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(blueviolet), to(darkviolet));
    background-image: -webkit-linear-gradient(top, blueviolet, darkviolet);
    background-image: -o-linear-gradient(top, blueviolet, darkviolet);
    background-image: linear-gradient(to bottom, blueviolet, darkviolet);
}

.ui-slider > div {
    background-color: rgb(231, 231, 231);
    background-image: -moz-linear-gradient(center top, rgb(229, 229, 229), rgb(233, 233, 233));
    border: 1px solid rgb(178, 178, 178);
    background-repeat: repeat-x;
}