{% extends 'master.html' %}
{% load static %}
{% block body %}
    {% csrf_token %}
    <div id="main_content" class="container-fluid">
        {# MAIN PAGE HEADING #}
        <div class="page-heading">
            <h2 class="page-title muted">
                <i class="icon-globe icon-large"></i> Home
            </h2>
            {% include 'frontend/statistics.html' %}
        </div>

        {# CURRENT SITE #}
        <ul class="breadcrumb breadcrumb-main">
            <li><a href="{% url 'home' %}">Home</a> <span class="divider"></span></li>
        </ul>

        <div class="row-fluid">
        {% for person in persons %}
            <div class="span3">
                <div class="person">
                    <div class="person-image">
                        <a href="{{ person.create_url }}" class="btn btn-large btn-danger">Show Person</a>
                        <img src="{% static 'img/anonymous.png' %}" alt="person">
                    </div>

                    <div class="well widget">
                        <div class="widget-header">
                            <h3 class="title">{{ person }}</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </div>
                <div class="row-fluid">
            {% endif %}
        {% endfor %}
        </div>
        <hr>
    </div>
    <div class="btn btn-large btn-warning" id="load-more">Load More</div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}