{% extends 'master.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'plugins/fotorama-4.1.16/fotorama.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sliders.css' %}">
{% endblock %}

{% block body %}
    <div id="main_content" class="container-fluid">
        {# MAIN PAGE HEADING #}
        <div class="page-heading">
            <h2 class="page-title muted">
                <i class="icon-zoom-in icon-large"></i> Person
            </h2>
            {% include 'frontend/statistics.html' %}
        </div>

        {# CURRENT SITE #}
        <ul class="breadcrumb breadcrumb-main">
            <li><a href="{% url 'home' %}">Home</a> <span class="divider"><i class="icon-caret-right"></i></span></li>
            <li><a href="{{ person.create_url }}">{{ person }}</a> <span class="divider"></span></li>
        </ul>

        <div class="span4">
            <img src="{% static 'img/anonymous.png' %}" alt="person" class="img-circle">

            <div class="well">
                <div class="text-center text-error">Vzdevek</div>
                <h2>Mesar slovenskih sanj</h2>
            </div>
        </div>
        <div class="well span8">
            <h1 class="text-center text-error">{{ person }}</h1>

            <p class="text-center text-info">(1950-present)</p>
            <hr>
            <div class="text-warning">Current state of Corruption:</div>
            <div class="progress progress-striped active">
                <div class="bar bar-danger" style="width: 79%;">79%</div>
            </div>
            <hr>
            <ul class="badges unstyled">
                <li><img src="{% static 'img/badges/police.png' %}"></li>
                <li><img src="{% static 'img/badges/jail.png' %}"></li>
                <li><img src="{% static 'img/badges/bribed.png' %}"></li>
                <li><img src="{% static 'img/badges/fire.png' %}"></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="well widget span8">
            <div class="widget-header">
                <h3 class="title">Quote</h3>

                <div class="text-right">
                    <a href="#quotesCarousel" data-slide="prev" class="icon-arrow-left icon-large"></a>
                    <a href="#quotesCarousel" data-slide="next" class="icon-arrow-right icon-large"></a>
                </div>
            </div>
            <div class="row-fluid">
                <div id="quotesCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="active item">
                            <blockquote>
                                <p>Ko bom dovolj pokradel, se bom preselil v avstralijo in se se naprej rezal slovencem
                                    bedakom.</p>
                                <small>Janez Jansa, Odbor za Slovenijo</small>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>Ko bom dovolj pokradel...</p>
                                <small>Janez Jansa, Odbor za Slovenijo</small>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>Bedaki so me spet izvolili!</p>
                                <small>Janez Jansa, Odbor za Slovenijo</small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="tabbable tabs-custom span7" id="footage">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#photos" data-toggle="tab">Photos</a></li>
                <li><a href="#videos" data-toggle="tab">Videos</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="photos">
                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-ratio="600/400" data-autoplay="true"
                         data-autoplay="5000">
                        <img src="{% static 'img/anonymous.png' %}" data-caption="Jansa v zaporu">
                        <img src="{% static 'img/anonymous.png' %}">
                        <img src="{% static 'img/anonymous.png' %}">
                    </div>
                </div>
                <div class="tab-pane fade" id="videos">
                    <div class="fotorama" data-nav="thumbs" data-width="100%" data-ratio="600/400" data-autoplay="true"
                         data-autoplay="5000">
                        <a href="http://youtube.com/watch?v=C3lWwBslWqg">Desert Rose</a>
                        <a href="http://vimeo.com/61527416">Celestial Dynamics</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="well widget span5">
            <div class="widget-header">
                <h3 class="title">Evaluate!</h3>
            </div>
            <div class="row-fluid">
                <div class="slider slider-success"></div>
                <div class="slider slider-danger"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'plugins/fotorama-4.1.16/fotorama.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/person.js' %}"></script>
{% endblock %}