<div class="page-info hidden-phone">
    <ul class="stats">
        <li>
            <span class="large text-warning">{{ number_of_persons }}</span>
            <span class="mini muted">persons</span>
        </li>
        <li>
            <span class="large text-info">{{ percent_of_politicians }}%</span>
            <span class="mini muted">politicians</span>
        </li>
        <li>
            <span class="large text-error">{{ world_corruption }}%</span>
            <span class="mini muted">corrupted</span>
        </li>
        <li>
            <span class="large text-success">{{ persons_added_today }}</span>
            <span class="mini muted">today</span>
        </li>
    </ul>
</div>