<div class="page-info hidden-phone">
    <ul class="stats">
        <li>
            <span class="large text-warning">4390</span>
            <span class="mini muted">persons</span>
        </li>
        <li>
            <span class="large text-info">56.4%</span>
            <span class="mini muted">politics</span>
        </li>
        <li>
            <span class="large text-success">20.07%</span>
            <span class="mini muted">corrupted</span>
        </li>
        <li>
            <span class="large text-error">23</span>
            <span class="mini muted">today</span>
        </li>
    </ul>
</div>